.label {
  margin-right: 10px;
}

.input1  {
  margin-right: 10px;
}

.actions {
  display: flex;
  justify-content: center;
}

.login-btn {
  width: 100vw;
  display: flex;
  justify-content: center;
  padding-right: 450px;
  margin-top: 10px;
}
