<%= render "shared/header" %>

<div class="man-toppage">
  <h1>Man</h1>
</div>

<div class="man-tweetbtn">
  <a href="/mantweets/new" class="btn-square-above-look">ツイート</a>
</div>

 <tbody>
  <% @mantweet.each do |mantweet| %> 
  <tr>
    <%= link_to mantweet.name, mantweet_path(mantweet) do %>
    <td><%= mantweet.user.nickname %></td>
    <td><%= mantweet.image %></td>
    <% end %>
  </tr>
      <% end %>
  </tbody>