.title {
  height: 100px;
  font-family: cursive;
  display: flex;
  justify-content: center;
}

.title h1 {
  margin-top: 30px;
}

.field {
  margin: 100px;
  display: flex;
  font-size: 40px;
  padding-left: 400px;
}
.actions-blue-btn:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}

.actions-blue-btn {
  height: 150px;
  width: 220px;
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #668ad8;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
  font-size: 30px;
  margin-left: 1000px;
}