.top-page-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 60px;
  display: flex;
  align-items: center;
  font-family: 'Caveat', cursive;
  color: #333;

}

.hasami-icon {
  height: 80px;

}

.make-icon {
  height: 80px;
}

header {
  height: 100px;
}