<%= render "shared/header" %>

<div class="main">


  <div class="back-content">
    <% if user_signed_in? %>
    <div class="log-in">
      <h1 class="login">Welcome</h1>
    </div>
    <% else %>
    <div class="log-in">
      <h1 class="login">Login</h1>
    </div>
    <% end %> 
  </div>
</div>
  
  <div class="images">

    <div class="man-image">
    </div>

    <div class="woman-image">
    </div>

  </div>


  <div class="contents">

    <div class="man-content">

      <div class="man-menu" id="man-lists">
        <h1 class="gender-man">Man</h1>
      </div> 
      
    </div>


    <div class="woman-content">

      <div class="woman-menu" id="woman-lists">
        <h1 class="gender-woman">Woman</h1>
      </div>

    </div>
  </div>

  <div class="lists">

    <div class="man-lists">
      <ul class="man-list" id="man-pull-down">

        <li><a href="/mantweets" class="man-list1"><span>H</span><span>a</span><span>i</span><span>r</span><span>S</span><span>t</span><span>y</span><span>l</span><span>e</span></a>
        </li>
      </ul>
    </div>

    <div class="woman-lists">
      <ul class="woman-list" id="woman-pull-down">
        <li><a href="/womantweets" class="woman-list1"><span>H</span><span>a</span><span>i</span><span>r</span><span>S</span><span>t</span><span>y</span><span>l</span><span>e</span></a>
        </li>
      </ul>
    </div>


  </div>




  <%# スライドショーランキング %>
    <h2 style="font-size: 100px; color: #333; margin-left: 770px; margin-bottom: 100px;">Pic Up✨</h2>
    <%# スライドショー配置 %>
      <ul class="slider">
        <li>man<%= link_to image_tag("original.png"), "https://beauty-sharing.herokuapp.com/mantweets/1" %>
      </ul>