.man-toppage {
  width: 100vw;
  height: 600px;
  background-image: url('/assets/images/men.png');
  padding-top: 50px;
}

.man-toppage h1 {
  font-size: 220px;
  padding-left: 1150px;
  padding-top: 300px;
  font-family: cursive;
  color: #333;
}

.man-tweetbtn {
  height: 300px;
  display: flex;
  justify-content: center;
}

.fa-plus-square {
  font-size: 100px;
  margin-top: 100px;
}


.image-is-4by3 {
  height: 80vh;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 30px;
}

.image-is-4by3 img {
  height: 50vh;
  width: 50vw;
  margin: 30px 0;
  display: flex;
  align-items: center;
}

.image-is-5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #333;
}