.name {
  font-size: 100px;
  padding-left: 750px;
  padding-top: 100px;
  background-color: gainsboro;
  color: white;
  margin-bottom: 20px;
}

.item-img-content {
  width: 100vw;
  border: 1px solid black;
  display: flex;
  justify-content: center;
}

.iine {
  width: 100vw;
  height: 200px;
  background-color: white;
}

textarea {
  width: 500px;
  height: 200px;
  margin-top: 200px;
}

.mt-5 {
  padding-top: 300px;
  margin-bottom: 30px;
  font-size: 30px;
}

.mt {
  font-size: 20px;
}

.mt-3 {
  font-size: 25px;
  
}

.mt-4 {
  margin: 10px 0;
}

.btnbtn-successfloat-rightmt-1 {
  background-color: skyblue;
  color: white;
  border-color: white;
}

.description {
  display: flex;
  justify-content: center;
  height: 30vh;
  width: 100vw;
  font-size: 33px;
}

.favorite {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  font-size: 30px;
}

.fa-heart {
  font-size: 5.0em;
  
  color: #333;
}

.heart_red{
  color:#e54747;
}

.title {
  display: flex;
  justify-content: center;
  font-size: 100px;
}


